<mat-toolbar color="primary">
    <ng-container >
     
    </ng-container>
    <span>Comandero de Ordenes de Restaurante La Teja</span>
    <span class="spacer"></span>
    <div *ngIf="!isLogged; else viewLogout">
      <a *ngIf="!isLoggedCliente"  mat-button
    
      routerLink="/login">Login Administrador</a>
      
      <a *ngIf="!isLoggedCliente; else viewLog"  mat-button
      
      routerLink="/signup">Acceder Cliente</a>
    </div>

   

    <a 
    *ngIf="isLoggedCliente"
    mat-button
    routerLink="/cliente/menu">Menú</a>

    <a *ngIf="isLoggedCliente"
      mat-button
    
    routerLink="/cliente/cart">Carrito</a>

    <ng-container>
      
    </ng-container>
    

    <ng-container *ngIf="isAdmin ==='admin'">
 

      <a mat-button
    
      routerLink="/admin/ordenes">Ordenes</a>

    </ng-container>
    
    
  </mat-toolbar>
  
  <ng-template #viewLogout>
   
      <div>
        <a mat-button (click)="onLogout()" >Logout</a>
      </div>
 


    
   
    
  </ng-template>
  
  <ng-template #viewLog >

    <div>
      <a mat-button (click)="onLogoutCliente()" >Salir</a>
    </div>
  </ng-template>