

.section-title {
    text-align: center;
    padding-bottom: 30px;
  }

  .section-title h2 {
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
    color: #5f5950;
  }

  .section-title h3 {
    margin: 15px 0 0 0;
    font-size: 22px;
    font-weight: 700;
    color: #5f5950;
  }

  .section-title h2 span {
    color: #ffb03b;
  }

  .section-title p {
    margin: 15px auto 0 auto;
    font-weight: 300;
  }







  .titulos-cat{
    color: #ff9b08;
  }
  .titulosCategorias{
      padding-left: 50px;
  }
  .categorias{
    margin-top: 30px;
  }
  .productos{
    margin-top: 30px;
  }
  .nombrepro{
    font-size: medium;
    font-family: 'Quicksand', sans-serif;
  }
  .title{
    font-family: 'Oxygen', sans-serif;
  }
  // .productosspan{
    
  
  // }
  // .agregar{
  //   left: 20px;
  // }
  // .menu-content{

  //   display: grid;
  //   grid-template-columns: repeat(3, 1fr);
  //   grid-gap: 10px;
  //   grid-auto-rows: minmax(100px, auto);
    
  // }
  // .left{
  //   grid-column: 1 / 3;
  //   grid-row: 1;
  // }


